{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "node": "4.3",
        "browsers": ["last 10 versions", "ie >= 7"]
      },
      "debug": false
    }]
  ],
  "plugins": ["@babel/plugin-transform-object-rest-spread",
    ["@babel/plugin-transform-runtime", {
      "regenerator": true,
      "corejs": 3
    }]
  ]
}
